@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #242424;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
}

.boxShadows {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.boxShadowsLite {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.boxShadowsWhite {
  box-shadow: white 0px 4px 12px;
}

.textShadowsBlue {
  text-shadow: 0 0 2em #69dbff;
}

.imgHeight {
  max-height: calc(100vh - 350px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151823;
  opacity: 20;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

.rainbow-container {
  box-shadow: 0 0 3px 0.5px #2c116e, inset 10px 0 2px #de66e4;
}

@keyframes jumbo {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(
    100deg,
    #000 0%,
    #000 7%,
    transparent 10%,
    transparent 12%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(10px) opacity(20%) saturate(200%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.imgGradient {
  filter: blur(20px);
  background-image: linear-gradient(#4ddc9e, #5b37eb, #f1307e);
  animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.levelSkill {
  height: 10px;
  background: #69dbff;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}
.levelBase {
  height: 10px;
  background: #151823;
  opacity: "20%";
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}
