@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.rainbowGlow {
  position: relative;
  color: #252b37;
  animation: textColor 10s ease infinite;
  @keyframes textColor {
    0% {
      color: #b530ff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #b530ff;
    }
  }
}

.levelSkill {
  background: #69dbff;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  animation: bgAnim 10s ease infinite;
  @keyframes bgAnim {
    0% {
      background: #b530ff;
    }
    50% {
      background: #0fffc1;
    }
    100% {
      background: #b530ff;
    }
  }
}

.levelBase {
  background: #595c61;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}

.boxShadowRainbow {
  @include backlight(0, 5vw, 10vw, 0.75, #0fffc1, #b530ff, 10s);
}

.boxShadowRainbowHover:hover {
  @include backlight(0, 0px, 20px, 0.5, #0fffc1, #b530ff, 10s);
  color: azure;
  animation: none;
  transition: all;
}
.boxShadowRainbowMailHover:hover {
  @include backlight(0, 0, 100px, 0.8, #0fffc1, #b530ff, 10s);
  color: azure;
  animation: none;
  transition: all;
}

.boxShadowRainbowLinkHover:hover {
  @include backlight(0px, 10px, 80px, 0.5, #0fffc1, #b530ff, 10s);
  color: azure;
  animation: none;
  transition: all;
}
.b oxShadowHover:hover {
  @include backlight(0, 2, 5vw, 0.5, #0fffc1, #b530ff, 1s);
}

.textAnnimColor {
  color: #151823;
  animation: textColor 10s ease infinite;
  @keyframes textColor {
    0% {
      color: #b530ff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #b530ff;
    }
  }
}
